@import "reset"

a
  text-decoration: none

.in-stock
  a
    color: blue
.oos
  a
    color: red
.na
  a
    color: gray

tr
  &:nth-child(even)
    background: #CCC
  &:nth-child(odd)
    background: #FFF
  td
    padding: 8px

span.error
  color: red

input[type='text']
  width: 300px

.flash
  clear: both
  position: relative
  margin-bottom: 1.5em
  font-size: 120%
  text-align: center
  padding: 1rem 1rem 1rem 60px
  &.alert
    background: red
  &.note
    background: rgb(216, 216, 61) 50% 50% no-repeat
